@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --app-max-width: 1000px;
}

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}